/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0px;
  padding: 0px;
  font-family: "__Inter_20951f", "__Inter_Fallback_20951f", "Arial";
}

h1 {
  margin: 20px 20px;
  padding: 0px;
}

.app {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/andreza2h.jpeg");
  background-position: 0%;
  background-size: cover;
}

.container {
  min-width: 50%;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 2rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter-number {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
  font-size: 3rem;
  font-weight: bold;
  min-width: 80px;
  min-height: 58px;
  margin: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .app {
    background-image: url("../../public/andreza1.jpeg");
    background-position: center;
    background-size: cover;
  }
  h1 {
    margin: 0px;
    margin-bottom: 10px;
  }
  .container {
    font-size: 0.7rem;
    width: 80%;
    min-height: 20px;
  }

  .countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 0.5rem;
  }

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  .counter-number {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 2rem;
    font-weight: bold;
    min-width: 50px;
    min-height: 38.5px;
    margin: 0px;
    text-align: center;
  }

  .counter-text {
    font-size: 0.8rem;
    margin: 2px;
  }
}
